{% extends 'base.html.twig' %}

{% block title %}Music{% endblock %}

{% block body %}
    <h1>Music</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ music.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ music.name }}</td>
            </tr>
            <tr>
                <th>ReleaseDate</th>
                <td>{{ music.releaseDate ? music.releaseDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Lists of artists</h2>

    <table class="table">
        <tbody>
            {% for  artist in music.artists %}
            <tr>
                <th>Name</th>
                <td>{{  artist.lastName }}</td>
            </tr>
            <tr>
                <th>First Name</th>
                <td>{{  artist.firstName }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_music_index') }}">back to list</a>

    <a href="{{ path('app_music_edit', {'id': music.id}) }}">edit</a>

    {{ include('music/_delete_form.html.twig') }}
{% endblock %}
